prof-twist.ru {
  # API -> upstream
  handle_path /api/* {
    rewrite * /api/v1{path}
    reverse_proxy localhost:8998
  }

  # WebSocket proxy for /ws
  handle /ws* {
    rewrite * /api/v1/chats
    reverse_proxy localhost:8998
  }

  # Frontend (SPA)
  handle {
    root * /usr/share/caddy
    try_files {path} {path}/ /index.html
    file_server
  }
}
