{
  auto_https off
}

:80 {
  handle /api/* {
    uri strip_prefix /api
    reverse_proxy http://95.163.182.138:8080
  }

  handle {
    root * /usr/share/caddy
    file_server
    try_files {path} {path}/ /index.html
  }
}