prof-twist.ru {
  # API -> upstream
  handle_path /api/* {
    reverse_proxy http://95.163.182.138:8998/api/v1
  }

  # WebSocket proxy for /ws
  handle /ws* {
    reverse_proxy ws://95.163.182.138:8998/api/v1/chats
  }

  # Frontend (SPA)
  handle {
    root * /usr/share/caddy
    try_files {path} {path}/ /index.html
    file_server
  }
}
